# Dependencias
node_modules/

# Build output
dist/
out-tsc/

# Angular cache
.angular/

# IDEs
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*
