window.__env = {
  AUTH_TENANT: '${AUTH_TENANT}',
  AUTH_CLIENT_ID: '${AUTH_CLIENT_ID}',
  AUTH_AUTHORITY: '${AUTH_AUTHORITY}',
  AUTH_REDIRECT_URI: '${AUTH_REDIRECT_URI}',
  AUTH_SCOPES: '${AUTH_SCOPES}',
  BFF_URL: '${BFF_URL}',
  LANDING_URL: '${LANDING_URL}'
};
